body {
    font-family: "Nunito Sans", sans-serif !important;
    margin: 0;
    padding: 0;
}

.header {
    padding-top: 50px;
    padding-right: 130px;
    padding-left: 130px;
    background: linear-gradient(107deg, #4a00e0 63%, #fafaff 50%);
    height: 800px;
}

.wrapper-menu-header {
    display: flex;
    align-items: center;
    gap: 20%;
}

.list-header ul {
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 55px;
    color: #eee;
}

.list-header a {
    text-decoration: none;
    color: #eee;
    font-size: 20px;
    line-height: 127%;
    letter-spacing: 0.02em;
}

.list-header ul a li {
    display: flex;
    align-items: center;
}

.list-header ul a li svg {
    margin-left: 10px;
}

.list-header a:hover {
    color: #eee;
}

.button-header {
    display: flex;
    gap: 20px;
    align-items: center;
}

.button-header a {
    text-decoration: none;
}

.btn-first a {
    color: #757575;
    font-size: 18px;
}

.btn-first a:hover {
    color: #757575;
}

.btn-second a {
    display: inline-block;
    color: #1f1f1f;
    background-color: #ffca1d;
    width: 135px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    transition: background-color .3s, color .3s;
}

.btn-second a:hover {
    color: #292929;
    background-color: #fcdb6d;
}

.info-header {
    margin-top: 80px;
    display: flex;
    width: 100%;
    max-width: 1480px;
    gap: 14%;
}

.info-header-left {
    display: flex;
    flex-direction: column;
    position: relative;
}

.info-header-right {
    position: relative;
    display: flex;
    flex-direction: column;
}

.purple-circle {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: absolute;
    background-color: #b16ee5;
    top: -5%;
    left: 55%;
}

.celeste-border {
    position: absolute;
    width: 80px;
    border-radius: 10px;
    top: 45%;
    border: 3px solid #3adad9;
}

.celeste-squad {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 115%;
    border: 4px solid #3adad9;
    transform: rotate(65deg);
}

.cusor-image {
    position: absolute;
    top: 35%;
    left: 90%;
}

.cursor-img {
    width: 65%;
}

.orange-triangle {
    position: absolute;
    top: 65%;
    left: 80%;
}

.welcome {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.04em;
    width: 43%;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
    background-color: #fff;
    color: #606060;
}

.info-title-header {
    color: #fff;
    font-weight: 800;
    font-size: 60px;
    line-height: 127%;
    letter-spacing: 0.02em;
    max-width: 680px;
}

.info-paragraf {
    margin-top: 70px;
    color: #fff;
    font-size: 30px;
    line-height: 160%;
    letter-spacing: 0.02em;
    max-width: 645px;
}

.info-btn-header {
    width: 100%;
    max-width: 220px;
}


.info-btn-header a {
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    color: rgb(31, 31, 31);
    background-color: rgb(255, 202, 29);
    width: 220px;
    height: 45px;
    padding: 10px;
    line-height: 24px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
}

.info-btn-header a:hover {
    color: #292929;
    background-color: #fcdb6d;
}

.img-header-girl {
    position: relative;
    height: 340px;
}

.girl-header-info {
    position: relative;
}

.img-header-girl .girl-header {
    position: relative;
    top: -94%;
    left: -2%;
}

.dashed-circle {
    clip-path: circle(50%);
    overflow: hidden;
}

.lucy {
    position: absolute;
    top: 65%;
    left: -10%;
    background-color: #fafafa;
    border-radius: 40px;
    padding: 30px;
    width: 100%;
    max-width: 200px;
    text-align: -webkit-center;
    height: 60px;
    line-height: 1px;
}

.comment-girl {
    position: absolute;
    background-color: #fff;
    top: 20%;
    right: -5%;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, .09);
    padding: 15px 10px;
    width: 300px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}

.status-girl,
.status-boy {
    color: #fff;
    padding: 5px;
    width: 100%;
    max-width: 70px;
    text-align: center;
    margin-left: 200px;
    background-color: #3adad9;
    border-radius: 10px;
}

.comment-girl .name,
.comment-boy .name {
    display: block;
    font-size: 15px;
    line-height: 127%;
    color: #6c71a1;
}

.comment-girl .proffesion,
.comment-boy .proffesion {
    font-size: 17px;
    font-weight: 600;
    line-height: 127%;
    color: #2b3377;
}

.comment-girl .stars-girl,
.comment-boy .stars-boy {
    display: block;
    margin-left: -2px;
    margin-top: 4px;
}

.boy-header-info {
    display: flex;
    align-items: center;
    gap: 55px;
}

.img-header-boy {
    position: relative;
}

.img-header-boy .boy-header {
    border-radius: 100%;
    position: absolute;
    right: 7%;
    top: 7%;
    box-shadow: 20px 0px 13px rgba(0, 0, 0, .09);
}

.mark-boy {
    position: absolute;
    top: 32%;
    right: -10%;
    font-weight: 600;
    font-size: 11px;
    color: #279e73;
    background-color: #fafafa;
    width: 100%;
    max-width: 100px;
    text-align: center;
    border-radius: 15px;
    height: 30px;
    line-height: 30px;
}

.comment-boy {
    width: 300px;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, .09);
    background-color: #fff;
    padding: 15px 10px;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.status-boy {
    background-color: #fd9b78;
}